# wengwengweng

[core]
	excludesfile = ~/.gitignore_g
	pager = less -+FX

[user]
	email = tga@space55.xyz
	name = tga

[alias]
	conflicts = diff --name-only --diff-filter=U
	root = rev-parse --show-toplevel
	file = log --follow -p --
	slog = log --oneline
	flog = log --pretty=fuller
	commitf = commit --amend --no-edit
	fpull = "!f() { git fetch origin && git reset --hard FETCH_HEAD && git clean -df; }; f"
	rewrite = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch -f --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f"

[credential]
	helper = store

[pull]
	rebase = false

