[core]
	pager = less -+FX
	ignorecase = false
[user]
	email = tga@space55.xyz
	name = tga
[alias]
	root = rev-parse --show-toplevel
	file = log --follow -p --
	slog = log --oneline
	dlog = log -p
	commitf = commit --amend --no-edit
	uncommit = reset --soft HEAD~1
	conflicts = ! git --no-pager diff --name-only --diff-filter=U
	bdiff = ! git --no-pager diff --name-only
	prev = checkout HEAD~1
	next = ! git log --reverse --pretty=%H master | grep -A 1 $(git rev-parse HEAD) | tail -n1 | xargs git checkout
	pushall = ! git remote | xargs -L1 git push --all
	open = ! git remote get-url origin | xargs open
[credential]
	helper = store
[pull]
	ff = only
	rebase = true
[pager]
	branch = false
[branch]
	sort = -committerdate
[diff]
	algorithm = histogram
[web]
    browser = open
[http]
	postBuffer = 524288000
[init]
	defaultBranch = main
