[submodule "nvim/pack/extern/opt/ale"]
	path = nvim/pack/extern/opt/ale
	url = git://github.com/w0rp/ale.git
[submodule "nvim/pack/extern/opt/signify"]
	path = nvim/pack/extern/opt/signify
	url = git://github.com/mhinz/vim-signify.git
[submodule "nvim/pack/local/opt/tommywiseau"]
	path = nvim/pack/local/opt/tommywiseau
	url = git://github.com/slmjkdbtl/tommywiseau.vim.git
