[submodule "nvim/pack/extern/start/oceanic-next"]
	path = nvim/pack/extern/start/oceanic-next
	url = git://github.com/mhartington/oceanic-next.git
[submodule "nvim/pack/extern/start/vim-signify"]
	path = nvim/pack/extern/start/vim-signify
	url = git://github.com/mhinz/vim-signify.git
[submodule "nvim/pack/extern/start/ctrlp.vim"]
	path = nvim/pack/extern/start/ctrlp.vim
	url = git://github.com/ctrlpvim/ctrlp.vim.git
[submodule "nvim/pack/extern/start/ale"]
	path = nvim/pack/extern/start/ale
	url = git://github.com/w0rp/ale.git
[submodule "nvim/pack/local/start/tommywiseau"]
	path = nvim/pack/local/start/tommywiseau
	url = git://github.com/slmjkdbtl/tommywiseau.vim.git
