<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>017023B8-BA4A-44B4-95E1-4353BFF0CAFF</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gh</string>
			<key>text</key>
			<string>Open Github</string>
			<key>url</key>
			<string>https://github.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>03DB85EA-FF3F-41AE-8022-4A358FAFDAD6</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>st</string>
			<key>text</key>
			<string>Search Steam for '{query}'</string>
			<key>url</key>
			<string>https://store.steampowered.com/search/?term={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>088D0D6A-140A-4312-BF1E-92234B949BD2</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>cover</string>
			<key>text</key>
			<string>Search iTunes album cover for '{query}'</string>
			<key>url</key>
			<string>https://bendodson.com/projects/itunes-artwork-finder/?entity=album&amp;query={query}</string>
		</dict>
		<key>0D221D18-C7F5-463C-8E68-81769C710AE9</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>it</string>
			<key>text</key>
			<string>Open itch.io</string>
			<key>url</key>
			<string>https://itch.io/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>1703E0D7-4221-476C-BFAA-D4ECBBD13AED</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gh</string>
			<key>text</key>
			<string>Search Github for '{query}'</string>
			<key>url</key>
			<string>https://github.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>2BC33016-8414-4E89-BBD4-D59D82A4138D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gist</string>
			<key>text</key>
			<string>Search Github Gist for '{query}'</string>
			<key>url</key>
			<string>https://gist.github.com/search?q={query}</string>
		</dict>
		<key>32809E05-33A1-4292-98C3-80D06A8AB0EE</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bc</string>
			<key>text</key>
			<string>Open Bandcamp</string>
			<key>url</key>
			<string>https://bandcamp.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>361EAC5C-E5C2-41AC-B3C5-4DE17BF46705</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>it</string>
			<key>text</key>
			<string>Search itch.io for '{query}'</string>
			<key>url</key>
			<string>https://itch.io/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>37E40D66-D2E5-4EC4-B748-7F700B9ED432</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>yt</string>
			<key>text</key>
			<string>Search YouTube for '{query}'</string>
			<key>url</key>
			<string>https://www.youtube.com/results?search_query={query}&amp;sp=CAASAhAB</string>
		</dict>
		<key>3918EA2A-0D25-4D6F-92A9-AF4BDA52EB9E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>rd</string>
			<key>text</key>
			<string>Open Reddit</string>
			<key>url</key>
			<string>https://www.reddit.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>57DBFE73-74FE-493E-80B4-AB8835ECF6DC</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>dc</string>
			<key>text</key>
			<string>Search Discogs for '{query}'</string>
			<key>url</key>
			<string>https://www.discogs.com/search/?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>63BB7EBC-8E30-43EC-AF2C-A028AA2A7A8E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>db</string>
			<key>text</key>
			<string>Search Douban for '{query}'</string>
			<key>url</key>
			<string>https://www.douban.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>6BF8F6F7-4CC9-44BF-9144-F759DE53773E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wb</string>
			<key>text</key>
			<string>Check Wayback Machine for '{query}'</string>
			<key>url</key>
			<string>https://web.archive.org/web/{query}</string>
		</dict>
		<key>6D35C401-609E-4AC8-A760-310873416256</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>sub</string>
			<key>text</key>
			<string>Search OpenSubtitles for '{query}'</string>
			<key>url</key>
			<string>https://www.opensubtitles.org/en/search2/sublanguageid-all/moviename-{query}</string>
		</dict>
		<key>860891E2-1005-41F5-8C7E-523CDE8B0D05</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>hn</string>
			<key>text</key>
			<string>Open Hacker News</string>
			<key>url</key>
			<string>https://news.ycombinator.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>9DB048B1-0CDD-4D1A-850F-C20B1102A577</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>cani</string>
			<key>text</key>
			<string>Search CanIUse for '{query}'</string>
			<key>url</key>
			<string>https://caniuse.com/?search={query}</string>
		</dict>
		<key>A192154E-F716-48B1-9E26-C7CFF5EECFCE</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ins</string>
			<key>text</key>
			<string>Open Instagram</string>
			<key>url</key>
			<string>https://www.instagram.com/</string>
		</dict>
		<key>A718044C-258B-4DFC-8D84-057BE6C895E8</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>mdn</string>
			<key>text</key>
			<string>Search MDN for '{query}'</string>
			<key>url</key>
			<string>https://developer.mozilla.org/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>A8663D87-C823-4CC8-9A86-B80BBDCFDE3A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jp</string>
			<key>text</key>
			<string>Search jpdb for '{query}'</string>
			<key>url</key>
			<string>https://jpdb.io/search?q={query}</string>
		</dict>
		<key>A8F6F0A6-CD3D-45F2-B784-1FFFC4328240</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ar</string>
			<key>text</key>
			<string>Search Internet Archive for '{query}'</string>
			<key>url</key>
			<string>https://archive.org/search?query={query}</string>
		</dict>
		<key>C9498957-1071-4249-AAC3-83E4F87EBC61</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>hn</string>
			<key>text</key>
			<string>Search Hacker News for '{query}'</string>
			<key>url</key>
			<string>https://hn.algolia.com?query={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>CB1DBDBB-D7A7-4D46-8951-AE6454AB4C1B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>db</string>
			<key>text</key>
			<string>Open Douban</string>
			<key>url</key>
			<string>https://www.douban.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D6CDD166-2DDC-4C8F-A3F1-19128009E9E0</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bc</string>
			<key>text</key>
			<string>Search Bandcamp for '{query}'</string>
			<key>url</key>
			<string>https://bandcamp.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>DCE5874A-7B17-4995-A9ED-030C9B17514F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>st</string>
			<key>text</key>
			<string>Open Steam</string>
			<key>url</key>
			<string>https://store.steampowered.com/</string>
		</dict>
		<key>DF598E2B-F192-40F9-AD41-49812F895B7C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>rd</string>
			<key>text</key>
			<string>Search Reddit for '{query}'</string>
			<key>url</key>
			<string>https://www.reddit.com/search/?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E257E32E-F99C-4D20-8FA7-41E7252792A8</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bi</string>
			<key>text</key>
			<string>Search bilibili for '{query}'</string>
			<key>url</key>
			<string>https://search.bilibili.com/all?keyword={query}</string>
		</dict>
		<key>EBB13D26-D762-4E9E-B78D-59F067A57810</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>rv</string>
			<key>text</key>
			<string>Search Reverb for '{query}'</string>
			<key>url</key>
			<string>https://reverb.com/marketplace?query={query}</string>
		</dict>
	</dict>
</dict>
</plist>
