<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.vitor.waybackwhen</string>
	<key>connections</key>
	<dict>
		<key>012A1EFC-9C95-47E0-8231-534FF492523A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AD1D5EF8-DA3E-4CB0-8D90-1EDDC34A43D3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>46BDEA91-E388-4527-8683-EAF0061DE79B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B5503E8C-92BD-4905-AA1C-CC6A094B8149</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>46BDEA91-E388-4527-8683-EAF0061DE79B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5E027D88-0F1F-4B6A-B190-0D81A891F357</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>46BDEA91-E388-4527-8683-EAF0061DE79B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>041A9CAB-0B9F-48B9-9731-CBD1F6B0ACB5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B0D7A33-88D9-47A7-8668-F50F204C7BC7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>B693CEC5-C911-4C59-914D-82A808C88227</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0491E315-3047-428F-9126-09CF81C15444</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C2C2DFB7-F654-496F-9A9B-A07E08129686</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>13251B98-7B2B-4CBF-8FA2-5A323AE5093A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1E6106DD-5612-4FFC-B7BB-6A47334195A0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>18445900-A2C2-41E2-9D35-4320D0BFA220</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ADBE953B-B335-42B1-8D94-42E9EFF6A717</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1E6106DD-5612-4FFC-B7BB-6A47334195A0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5EE4530F-5A12-49D4-A883-85070CAA0EBA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>63DA7471-7714-4C4E-878D-D24A46D12FDD</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F3F0A5DF-7EFC-451D-82CF-5FE335DB5E2F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3F4E18A6-617B-4FAE-B96F-13E50EC70CCB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A8F2C46-13A5-4B6D-B3C6-5CBABE3B035E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>41D7AC8B-8807-4D3F-9A58-1344D2FC4C17</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C2C2DFB7-F654-496F-9A9B-A07E08129686</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>438D4B8F-25A3-41E5-8D7F-972D8664A417</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1E6106DD-5612-4FFC-B7BB-6A47334195A0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4A8F2C46-13A5-4B6D-B3C6-5CBABE3B035E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>18445900-A2C2-41E2-9D35-4320D0BFA220</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4B6071DA-2D18-4562-8A18-BF605B613C19</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>13251B98-7B2B-4CBF-8FA2-5A323AE5093A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4F64AE48-EA7D-410B-B012-31D7119B74FC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4B6071DA-2D18-4562-8A18-BF605B613C19</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>View all snapshots</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>13251B98-7B2B-4CBF-8FA2-5A323AE5093A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9488B036-32FA-4E39-ADA8-FD4B86BF3B04</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Force fallback</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5B0D7A33-88D9-47A7-8668-F50F204C7BC7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C2C2DFB7-F654-496F-9A9B-A07E08129686</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5E027D88-0F1F-4B6A-B190-0D81A891F357</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0491E315-3047-428F-9126-09CF81C15444</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>46BDEA91-E388-4527-8683-EAF0061DE79B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>041A9CAB-0B9F-48B9-9731-CBD1F6B0ACB5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>2B3D23D7-69B9-4D23-9825-D8BC0549EEF8</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5EE4530F-5A12-49D4-A883-85070CAA0EBA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>771D562E-32F3-4D56-9FD5-23067F599C49</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7430AE48-1AF9-4F5F-B151-065A3EA73C66</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>438D4B8F-25A3-41E5-8D7F-972D8664A417</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>771D562E-32F3-4D56-9FD5-23067F599C49</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EBAC5B8C-FC5E-4AA6-9E18-025380BEEF22</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9488B036-32FA-4E39-ADA8-FD4B86BF3B04</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>13251B98-7B2B-4CBF-8FA2-5A323AE5093A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AD1D5EF8-DA3E-4CB0-8D90-1EDDC34A43D3</key>
		<array/>
		<key>ADBE953B-B335-42B1-8D94-42E9EFF6A717</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D71BC29A-B78D-48CD-8285-935CC61E7023</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>012A1EFC-9C95-47E0-8231-534FF492523A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BDF9FA7A-E5AE-4024-865B-EC2E0163711C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>438D4B8F-25A3-41E5-8D7F-972D8664A417</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C5BB0702-89CA-4F35-BAF2-26376E9340F4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7430AE48-1AF9-4F5F-B151-065A3EA73C66</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>View all snapshots</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>438D4B8F-25A3-41E5-8D7F-972D8664A417</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BDF9FA7A-E5AE-4024-865B-EC2E0163711C</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Force fallback</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D71BC29A-B78D-48CD-8285-935CC61E7023</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C2C2DFB7-F654-496F-9A9B-A07E08129686</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EBAC5B8C-FC5E-4AA6-9E18-025380BEEF22</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>41D7AC8B-8807-4D3F-9A58-1344D2FC4C17</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>AF90BAE8-D16E-4AD4-AB79-3FB379178905</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3F4E18A6-617B-4FAE-B96F-13E50EC70CCB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F3F0A5DF-7EFC-451D-82CF-5FE335DB5E2F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5E027D88-0F1F-4B6A-B190-0D81A891F357</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Open Websites on the Internet Archive’s Wayback Machine</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Wayback When</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>view_all</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7430AE48-1AF9-4F5F-B151-065A3EA73C66</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C2C2DFB7-F654-496F-9A9B-A07E08129686</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<false/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Open on Wayback Machine</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>C5BB0702-89CA-4F35-BAF2-26376E9340F4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>438D4B8F-25A3-41E5-8D7F-972D8664A417</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>https://web.archive.org/web/*/{var:raw_url}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>41D7AC8B-8807-4D3F-9A58-1344D2FC4C17</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>force_fallback</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>BDF9FA7A-E5AE-4024-865B-EC2E0163711C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>D71BC29A-B78D-48CD-8285-935CC61E7023</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>view_all</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4B6071DA-2D18-4562-8A18-BF605B613C19</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
  const snapshots = JSON.parse(argv[0])["archived_snapshots"]
  if (Object.keys(snapshots).length === 0) throw "No snapshots found"
  return JSON.parse(argv[0])["archived_snapshots"]["closest"]["url"]
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>18445900-A2C2-41E2-9D35-4320D0BFA220</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/curl "https://archive.org/wayback/available?url=${1}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4A8F2C46-13A5-4B6D-B3C6-5CBABE3B035E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/text-processing/text.encode.percent</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>771D562E-32F3-4D56-9FD5-23067F599C49</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:raw_url}</string>
				<key>title</key>
				<string>No Snapshot Found</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>AD1D5EF8-DA3E-4CB0-8D90-1EDDC34A43D3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.extras/web-browsers/frontmost-browser/frontmost.tabs.current</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>13251B98-7B2B-4CBF-8FA2-5A323AE5093A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>{var:wayback_keyword}</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Open latest snapshot of the frontmost browser tab on the Wayback Machine</string>
				<key>text</key>
				<string>{const:alfred_workflow_name}</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4F64AE48-EA7D-410B-B012-31D7119B74FC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:force_fallback}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>6</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Continue</string>
						<key>uid</key>
						<string>63DA7471-7714-4C4E-878D-D24A46D12FDD</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Fallback</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>1E6106DD-5612-4FFC-B7BB-6A47334195A0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:view_all}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>All Snapshots</string>
						<key>uid</key>
						<string>AF90BAE8-D16E-4AD4-AB79-3FB379178905</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Latest Snapshot</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>EBAC5B8C-FC5E-4AA6-9E18-025380BEEF22</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>No Snapshot found</string>
						<key>uid</key>
						<string>46BDEA91-E388-4527-8683-EAF0061DE79B</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>012A1EFC-9C95-47E0-8231-534FF492523A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>ADBE953B-B335-42B1-8D94-42E9EFF6A717</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>raw_url</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5EE4530F-5A12-49D4-A883-85070CAA0EBA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>encoded_url</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3F4E18A6-617B-4FAE-B96F-13E50EC70CCB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>force_fallback</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9488B036-32FA-4E39-ADA8-FD4B86BF3B04</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Sosumi</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>B5503E8C-92BD-4905-AA1C-CC6A094B8149</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>https://archive.today/newest/{var:raw_url}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key></key>
					<string></string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0491E315-3047-428F-9126-09CF81C15444</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:fallback_action}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>archive_today</string>
						<key>outputlabel</key>
						<string>Try archive.today</string>
						<key>uid</key>
						<string>46BDEA91-E388-4527-8683-EAF0061DE79B</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:fallback_action}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>{new_snapshot}</string>
						<key>outputlabel</key>
						<string>Save Snapshot</string>
						<key>uid</key>
						<string>2B3D23D7-69B9-4D23-9825-D8BC0549EEF8</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Do Nothing</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>5E027D88-0F1F-4B6A-B190-0D81A891F357</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>raw_url</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F3F0A5DF-7EFC-451D-82CF-5FE335DB5E2F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>https://web.archive.org/save/{var:encoded_url}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key></key>
					<string></string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5B0D7A33-88D9-47A7-8668-F50F204C7BC7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:save_snapshot}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Save Snapshot</string>
						<key>uid</key>
						<string>B693CEC5-C911-4C59-914D-82A808C88227</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>041A9CAB-0B9F-48B9-9731-CBD1F6B0ACB5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Open the [Internet Archive’s](https://archive.org/) most recent web page snapshot for the frontmost browser tab via the `wayback` keyword.

![Open wayback machine](images/about/wayback.png)

* &lt;kbd&gt;↩&lt;/kbd&gt; Open page. if no snapshot exists, fallback to the action in the [Workflow’s Configuration](https://www.alfredapp.com/help/workflows/user-configuration/).
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Show all snapshots.
* &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Force fallback.

Alternatively, perform the same actions from a selection or [Clipboard History](https://www.alfredapp.com/help/features/clipboard/) with the [Universal Action](https://www.alfredapp.com/help/features/universal-actions/).

![Universal Action](images/about/ua.png)</string>
	<key>uidata</key>
	<dict>
		<key>012A1EFC-9C95-47E0-8231-534FF492523A</key>
		<dict>
			<key>xpos</key>
			<real>1510</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
		<key>041A9CAB-0B9F-48B9-9731-CBD1F6B0ACB5</key>
		<dict>
			<key>xpos</key>
			<real>1750</real>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>0491E315-3047-428F-9126-09CF81C15444</key>
		<dict>
			<key>xpos</key>
			<real>1825</real>
			<key>ypos</key>
			<real>545</real>
		</dict>
		<key>13251B98-7B2B-4CBF-8FA2-5A323AE5093A</key>
		<dict>
			<key>xpos</key>
			<real>325</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
		<key>18445900-A2C2-41E2-9D35-4320D0BFA220</key>
		<dict>
			<key>note</key>
			<string>Parse JSON</string>
			<key>xpos</key>
			<real>1265</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
		<key>1E6106DD-5612-4FFC-B7BB-6A47334195A0</key>
		<dict>
			<key>xpos</key>
			<real>495</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>3F4E18A6-617B-4FAE-B96F-13E50EC70CCB</key>
		<dict>
			<key>xpos</key>
			<real>1010</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>41D7AC8B-8807-4D3F-9A58-1344D2FC4C17</key>
		<dict>
			<key>xpos</key>
			<real>1010</real>
			<key>ypos</key>
			<real>125</real>
		</dict>
		<key>438D4B8F-25A3-41E5-8D7F-972D8664A417</key>
		<dict>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>4A8F2C46-13A5-4B6D-B3C6-5CBABE3B035E</key>
		<dict>
			<key>note</key>
			<string>Make web request</string>
			<key>xpos</key>
			<real>1090</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
		<key>4B6071DA-2D18-4562-8A18-BF605B613C19</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>265</real>
		</dict>
		<key>4F64AE48-EA7D-410B-B012-31D7119B74FC</key>
		<dict>
			<key>xpos</key>
			<real>85</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
		<key>5B0D7A33-88D9-47A7-8668-F50F204C7BC7</key>
		<dict>
			<key>xpos</key>
			<real>1825</real>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>5E027D88-0F1F-4B6A-B190-0D81A891F357</key>
		<dict>
			<key>xpos</key>
			<real>1590</real>
			<key>ypos</key>
			<real>585</real>
		</dict>
		<key>5EE4530F-5A12-49D4-A883-85070CAA0EBA</key>
		<dict>
			<key>xpos</key>
			<real>595</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
		<key>7430AE48-1AF9-4F5F-B151-065A3EA73C66</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>771D562E-32F3-4D56-9FD5-23067F599C49</key>
		<dict>
			<key>xpos</key>
			<real>675</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
		<key>9488B036-32FA-4E39-ADA8-FD4B86BF3B04</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>405</real>
		</dict>
		<key>AD1D5EF8-DA3E-4CB0-8D90-1EDDC34A43D3</key>
		<dict>
			<key>xpos</key>
			<real>1590</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
		<key>ADBE953B-B335-42B1-8D94-42E9EFF6A717</key>
		<dict>
			<key>xpos</key>
			<real>1420</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
		<key>B5503E8C-92BD-4905-AA1C-CC6A094B8149</key>
		<dict>
			<key>xpos</key>
			<real>1590</real>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>BDF9FA7A-E5AE-4024-865B-EC2E0163711C</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>C2C2DFB7-F654-496F-9A9B-A07E08129686</key>
		<dict>
			<key>xpos</key>
			<real>1920</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>C5BB0702-89CA-4F35-BAF2-26376E9340F4</key>
		<dict>
			<key>xpos</key>
			<real>85</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>D71BC29A-B78D-48CD-8285-935CC61E7023</key>
		<dict>
			<key>xpos</key>
			<real>1510</real>
			<key>ypos</key>
			<real>265</real>
		</dict>
		<key>EBAC5B8C-FC5E-4AA6-9E18-025380BEEF22</key>
		<dict>
			<key>xpos</key>
			<real>835</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>F3F0A5DF-7EFC-451D-82CF-5FE335DB5E2F</key>
		<dict>
			<key>xpos</key>
			<real>595</real>
			<key>ypos</key>
			<real>610</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>wayback</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Wayback Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>wayback_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>archive_today</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Try archive.today</string>
						<string>archive_today</string>
					</array>
					<array>
						<string>Save Snapshot</string>
						<string>new_snapshot</string>
					</array>
					<array>
						<string>Do Nothing</string>
						<string>nothing</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>What to do when no snapshots are found.</string>
			<key>label</key>
			<string>Fallback</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>fallback_action</string>
		</dict>
	</array>
	<key>version</key>
	<string>2024.1</string>
	<key>webaddress</key>
	<string>https://github.com/alfredapp/wayback-when-workflow/</string>
</dict>
</plist>
