<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dalle_image_number</key>
	<integer>10</integer>
	<key>dalle_images_folder</key>
	<string>~/Documents/DALL-E</string>
	<key>dalle_style</key>
	<string>natural</string>
	<key>openai_api_key</key>
	<string>sk-ijklmnop5678efghijklmnop5678efghijklmnop</string>
</dict>
</plist>
